.card {
    border: 6px solid #223142;
    padding: 40px 0;
    margin: 30px;

}
button{
    background-color: #6ECCAF;
}
.grid-container{
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding: 40px;

}