@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700;1,900&family=Trocchi&display=swap');
header{
 color: brown;
}
.texto{
  color: rgb(204, 239, 30);
}
*{
  font-family: 'Roboto', sans-serif;
  font-family: 'Trocchi', serif;
}
footer{
  color: black;
}
