@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&family=Raleway:wght@300&family=Roboto:ital,wght@1,700;1,900&family=Trocchi&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
}
:root {
  --verde: #6ECCAF;
  --gris: #344D67;
}
body{
  background-image: url(./fondo.jpg);
  background-size: cover;
}


