.tarjeta{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}
.filtros{
    padding: 10px;
    color: rgb(245, 241, 241);
}
.d-flex {
    justify-content: center;
}
h2{
    margin: 30px;
}