.Tarjetas{
    padding: 15px;
    margin: 5px;
    width: 350px;
    left: 350px;
    text-align: center;
    background-color:  #1e2c3b;
    color: #6ECCAF;
}
.btn1 {
    background-color: #6ECCAF;
    border: 2px solid #344D67;
    color: #344D67 ;
    padding: 10px 25px;
    text-align: center;
    font-size: 19px;
    margin: 4px 2px;
    transition: 0.3s;

  }
  .btn1:hover {
    background-color:#6ECCAF;
    color: #344D67;
    border: 2px solid #344D67;
  }