.Tarjetas{
  padding: 20px;
  margin: 10px;
  left: 10px;
  width: 350px;
  left: 350px;
  text-align: center;
  color: #6ECCAF;
  background-color:  #1e2c3b;
  align-self: self-end;
  display: flex;
}
.infoTarjeta{
  flex-direction: row;
}
h4{
  text-align: center;
  font-weight: 500;
  font-size: (1.325rem + .9vw);
  text-align: center;
  
}
button {
    background-color: #6ECCAF;
    border: 1px solid #344D67;
    color: #344D67 ;
    padding: 10px 10px;
    font-size: 15px;
    transition: 0.3s;
    border-radius: 15px;
    align-self: flex-end;
}
 