ul {
    color: #b1f0dc;
}
.titulo{
    color: #b1f0dc;
    justify-items: center ;
    font-weight: 300;
    font-size: x-large;
}
header{
    padding: 50px; 
}
.bg-blue {
    background-color: #344D67;
    justify-content: space-between;

}
.botons{
    justify-content: end;
    border: 2px solid #344D67;
}

  
  