ul {
    color: #b1f0dc;
}
.titulo{
    color: #b1f0dc;
    justify-items: center ;
}
header{
    padding: 50px; 
}
.bg-blue {
    background-color: #223142;
    justify-content: end;

}
.botons{
    justify-content: end;
}
  
  